.form-container {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

input{
  display: block;
  width: 50%;
  height: 35px;
  margin: 0 auto 10px auto;
  font-size: 1.3rem;
}

.add-button{
  margin: 0 auto 0 auto;
  background-color: #008CBA;
  padding: 7px;
  font-size: 1.5rem;
}

.add-button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.add-button:focus {
  outline: none;
}