.card {
  margin: 5px 5% 10px 5%;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  background: #ccc;
}

.card:hover {
  cursor:move;
}

.card-content{
  font-size: 1.5rem;
}

.card-button{
  background-color: #009;
  color: #ccc;
  font-size: 1rem;
  padding: 7px;
}

.card-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-button:focus {
  outline: none;
}

.highlight {
  background: yellow;
}